.navbar {
  height: 50px;
  width: 1536px;
  background-color: #f898cd;
  color: #050508;
  padding-left: 650px;
  font-weight: 600;
  
 
}

.mainContent{
  margin: 0px;
  background-color: #D6E2E2;
  height: 710px !important;
  width: 1536px;
   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  
  display: block;
  color: #060606;
  text-align: center;
  
  padding: 14px;  
  text-decoration: none;
}

li a:hover {
  background-color: #b1c4f8;
}
